
<div class="container-fluid">
  <h1>Fill in your information</h1>
<form [formGroup] = "signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
        <label for="exampleInputName1">Name</label>
      <input type="text" id="username"class="form-control pb_height-50 reverse" placeholder="First name" formControlName="firstname"
      [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
        <div *ngIf="f.firstname.errors.required">First Name is required</div>
    </div>
    </div>
    <div class="form-group">
      <label for="exampleInputLastName1">Last Name</label>
      <input type="text" class="form-control pb_height-50 reverse" placeholder="Last name" formControlName="lastname"
      [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control pb_height-50 reverse" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email"
     [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
     <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control pb_height-50 reverse" id="exampleInputPassword1" placeholder="Password " aria-describedby="passwordHelpInline" formControlName="password"
    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">One special character, uppercase, lowercase, number and between 8-20 characters.</div>
  </div>
  </div>

  <div class="form-group">
      <label for="exampleInputPassword1">Retype password</label>
      <input type="password" class="form-control pb_height-50 reverse" id="exampleInputPassword2" placeholder="Password " aria-describedby="passwordHelpInline" formControlName="password2"
      [ngClass]="{ 'is-invalid': submitted && f.password2.errors }">
      <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
        <div *ngIf="f.password2.errors.required">Confirm Password is required</div>
        <div *ngIf="f.password2.errors.mustMatch">Passwords must match</div>
    </div>
    </div>

<!--TODO:state will not be saved with this routing / delete-->
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="conditions" >
    <a href routerLink="/conditions">Agree to terms and conditions</a>
    <span *ngIf="!signupForm.get('conditions').valid && signupForm.get('conditions').touched"
    class="help-block">Please validate the conditions</span>
  </div>
  <button type="submit" class="btn btn-primary btn-lg pb_btn-pill  btn-shadow-blue">Submit</button>
</form>
</div>

