<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="../assets/images/pic1.png" width="40" height="40" class="d-inline-block align-top" alt="">
    TaxiNow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--TODO: remove or edit Bootstrap default navbar-->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
    <span class="navbar-text">
        <p class="mb-5"><a class="btn btn-success btn-lg pb_btn-pill smoothscroll" href routerLink="/login"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">Already a member? Login</span></a></p>
    </span>
  </div>
</nav>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

